.banner {
  background-size: cover;
  object-fit: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: #FF8C00;
  text-shadow: 2px 2px 2px rgba(0,0,0,4);
  text-align: center;
  text-decoration: underline;
  opacity: 7;
  font-size: 60px;
  font-family: Nova Round


}

.banner p {
  background-color: #FAF0E6;
  border-radius: 20px;
  opacity:.9;
  color: #9932CC;
  padding: 7px 7px;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  margin-top: 0px;
  font-size: 20px;
  font-family: Nova Round
}
