.introduction h2 {
  text-align: center;
  color: #FF8C00;
  text-shadow: 2px 2px 2px #f8ecf8;
  text-decoration: underline
  text-font :Nova Round;

}
.introduction p{
background-color: #FAF0E6;
  border-radius: 4px;
  opacity:.9;
  color: #9932CC;
  padding: 3px 3px;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  border-style:
  margin-top: 0px;
  font-size: 20px;
  font-family: Nova Round
}
